sets

1. sets do not allow duplicates
2. sets do not have indexing / slicing
3. sets do not allow mutable data types
4. sets itself is a mutable data type

In [15]:
set = {}

In [19]:
set = {1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [24]:
set = {1,2,3, 9.5,'Hello'}
set

{1, 2, 3, 9.5, 'Hello'}

Rule # 1. Does not allow duplicate

In [25]:
set = {1,1,1,2,3,2,3,2,3,4,4,5}
set

{1, 2, 3, 4, 5}

Rule 3. Does not allow mutalble dayatypes

In [26]:
set = {[1,2,3], 'Hello'}
set

TypeError: unhashable type: 'list'

In [28]:
list = ((1,2,3), 'Hello')
list

((1, 2, 3), 'Hello')

Rule 4. Sets itself is a mutable dayatype

In [29]:
set = {{1}, {2}, {3}, {4}, {5}, {6}, {7}}
set

TypeError: unhashable type: 'set'

In [30]:
set

{1, 2, 3, 4, 5}

In [31]:
set[0]

TypeError: 'set' object is not subscriptable

In [32]:
set[2] = 9

TypeError: 'set' object does not support item assignment

In [36]:
set.add(9)
set

{1, 2, 3, 4, 5, 9}

In [37]:
id(set)

3151930756672

In [38]:
set.add(6)
set

{1, 2, 3, 4, 5, 6, 9}

In [39]:
id(set)

3151930756672

In [40]:
set.pop()
set

{2, 3, 4, 5, 6, 9}

In [41]:
set.pop()
set

{3, 4, 5, 6, 9}

In [42]:
set.remove(9)
set

{3, 4, 5, 6}

In [44]:
del set
set

NameError: name 'set' is not defined

In [45]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [46]:
for i in set1:
    print(i)

1
2
3
4
5

In [47]:
5 in set1

True

In [48]:
len(set1)

5

In [49]:
min(set1)

1

In [50]:
max(set1)

5

In [52]:
sum(set1)

15

In [54]:
sorted(set1)
set1

{1, 2, 3, 4, 5}

In [56]:
sorted(set1, reverse=True)
set1

{1, 2, 3, 4, 5}

In [57]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [58]:
set1.intersection(set2)

set()

In [59]:
set1.difference(set2)

{1, 2, 3, 4, 5}

In [60]:
set2.difference(set1)

{6, 7, 8, 9, 10}

In [61]:
set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [63]:
set1.isdisjoint(set2) #no common items

True

In [64]:
set1.issubset(set2)

False

In [65]:
set1.issuperset(set2)

False