In [193]:
"""
    list
    random
    time
    datetime
    modules
    math
    os
    sys
"""

'\n    list\n    random\n    time\n    modules\n    math\n    os\n'

**Print**

In [233]:
print('Hello')
print('Hello', 'World')
print('Hello', 'World', sep='--')
print('Hello', 'World', end='&&\n')
print('Hello', 'World', sep='_', end='%\n')
alpha = 'Hello World'
print(alpha)
alpha = 'Hello'; beta = 'World'
print(alpha + beta)
print(alpha + " " + beta)
print("{} {}".format(alpha, beta))
print(f"{alpha} {beta}")
print("Mr. {} is my good friend and he lives in {}".format(alpha, beta))
print("Mr. {1} is my good friend and he lives in {0}".format(alpha, beta))
# print("Mr. %b is my good friend and he lives in %a" % (beta, alpha))
print(f"Mr. {alpha} is my good friend and he lives in {beta}")

Hello
Hello World
Hello--World
Hello World&&
Hello_World%
Hello World
HelloWorld
Hello World
Hello World
Hello World
Mr. Hello is my good friend and he lives in World
Mr. World is my good friend and he lives in Hello
Mr. Hello is my good friend and he lives in World

**Data Types**

In [86]:
alpha = 5
print(alpha, type(alpha))
alpha = 9.7
print(alpha, type(alpha))
alpha = 6+7j
print(alpha, type(alpha))
alpha = 'Lahore'
print(alpha, type(alpha))
alpha = "Lahore"
print(alpha, type(alpha))
alpha = '''Lahore'''
print(alpha, type(alpha))
alpha = """Lahore"""
print(alpha, type(alpha))
alpha = True
print(alpha, type(alpha))
alpha = False
print(alpha, type(alpha), end='\n\n')

"""
    Four different Data Structures
    1. Lists
    2. Tuples
    3. Sets
    4. Dictionaries
"""

## Lists
alpha = [1, 6, 2, 'Lahore', '99'] 
print(alpha, type(alpha))
alpha = list((1, 6, 2, 'Lahore', '99'))
print(alpha, type(alpha))
alpha = list([1, 6, 2, 'Lahore', '99'])
print(alpha, type(alpha), end='\n\n')

## Tuple
alpha = (1, 6, 2, 'Lahore', '99')
print(alpha, type(alpha))
alpha = tuple((1, 6, 2, 'Lahore', '99'))
print(alpha, type(alpha), end='\n\n')

## Sets
alpha = {1, 6, 2, 'Lahore', '99', '98', 97, '96', 88}
print(alpha, type(alpha))
alpha = set((1, 6, 2, 'Lahore', '99', '98', 97, '96', 88))
print(alpha, type(alpha))
alpha = set({1, 6, 2, 'Lahore', '99', '98', 97, '96', 88})
print(alpha, type(alpha), end='\n\n')

## Dictionaries
alpha = {'name': 'Ali', 'age': 23, 'city': 'Lahore'}
print(alpha, type(alpha))
alpha = dict({'name': 'Ali', 'age': 23, 'city': 'Lahore'})
print(alpha, type(alpha))
alpha = dict(name='Ali', age=23, city='Lahore')
print(alpha, type(alpha), end='\n\n')

5 <class 'int'>
9.7 <class 'float'>
(6+7j) <class 'complex'>
Lahore <class 'str'>
Lahore <class 'str'>
Lahore <class 'str'>
Lahore <class 'str'>
True <class 'bool'>
False <class 'bool'>

[1, 6, 2, 'Lahore', '99'] <class 'list'>
[1, 6, 2, 'Lahore', '99'] <class 'list'>
[1, 6, 2, 'Lahore', '99'] <class 'list'>

(1, 6, 2, 'Lahore', '99') <class 'tuple'>
(1, 6, 2, 'Lahore', '99') <class 'tuple'>

{1, 2, 97, 6, '96', 'Lahore', '98', '99', 88} <class 'set'>
{1, 2, 97, 6, '96', 'Lahore', '98', '99', 88} <class 'set'>
{1, 2, 97, 6, '96', 'Lahore', '98', '99', 88} <class 'set'>

{'name': 'Ali', 'age': 23, 'city': 'Lahore'} <class 'dict'>
{'name': 'Ali', 'age': 23, 'city': 'Lahore'} <class 'dict'>
{'name': 'Ali', 'age': 23, 'city': 'Lahore'} <class 'dict'>

**Special / Reserved Keywords**

In [60]:
import keyword
print(keyword.kwlist)
print(type(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
<class 'list'>

**Taking inputs from User**

In [61]:
input()

'4'

In [62]:
input('Enter number: ')

'5'

In [63]:
input(prompt = 'Enter number:')

'5'

In [64]:
userInput = input(prompt = 'Enter number:')
print(userInput, type(userInput))

9 <class 'str'>

**Type Convention**

In [87]:
alpha = 9
print(alpha, type(alpha))
alpha = float(alpha)
print(alpha, type(alpha))
alpha = str(alpha)
print(alpha, type(alpha))
alpha = bool(alpha)
print(alpha, type(alpha), end='\n\n')

## Strings / Lists / Tuples / Sets / Dictionaries
alpha = 'Hello World 999'
print(list(alpha))
print(tuple(alpha))
print(set(alpha))
print(dict({'test': alpha}))
print(dict(test = alpha))

9 <class 'int'>
9.0 <class 'float'>
9.0 <class 'str'>
True <class 'bool'>

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', ' ', '9', '9', '9']
('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', ' ', '9', '9', '9')
{'d', '9', 'e', 'H', 'W', 'l', 'o', ' ', 'r'}
{'test': 'Hello World 999'}
{'test': 'Hello World 999'}

**Literals**

In [91]:
string_1 = "Hello World"
string_2 = 'Hello World'
char = "A"
multiline_string = """Python is a programming language and everyone should learn Python"""
unicode_string = u"\U0001f600\U0001f610\U0001f630\U0001f620"
raw_string = r"\ raw data \ string"
fileStream_string = f"This is a file stream string"
special_literal = None ## Very important

print(string_1, string_2)
print(char)
print(multiline_string)
print(unicode_string)
print(raw_string)
print(fileStream_string)
print(special_literal)

Hello World Hello World
A
Python is a programming language and everyone should learn Python
ðŸ˜€ðŸ˜ðŸ˜°ðŸ˜
\ raw data \ string
This is a file stream string
None

**List Functions**

In [108]:
alpha = list(range(1, 11))
print(alpha)
alpha = list(range(1, 11, 2))
print(alpha)
alpha = list(range(10, 0, -1))
print(alpha, end='\n\n')

alpha = list((23, '34', 'Lahore', 22, 33, 'Akbar'))
for i in alpha:
    print(i)
print()

for index, value in enumerate(alpha):
    print('index =', index, 'value =', value)
print()

for index, value in enumerate(alpha, start = 1):
    print('index =', index, 'value =', value)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

23
34
Lahore
22
33
Akbar

index = 0 value = 23
index = 1 value = 34
index = 2 value = Lahore
index = 3 value = 22
index = 4 value = 33
index = 5 value = Akbar

index = 1 value = 23
index = 2 value = 34
index = 3 value = Lahore
index = 4 value = 22
index = 5 value = 33
index = 6 value = Akbar

In [115]:
alpha = list((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = list(('Karachi', 55, '83', '82', 88, 'Multan'))
for list1, list2 in zip(alpha, beta):
    print('list1 item =', list1, ', list2 item =', list2)
print()

alpha = list((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = list(('Karachi', 55, '83', '82', 88, 'Multan', 33, 25, 75, 12))
for list1, list2 in zip(alpha, beta):
    print('list1 item =', list1, ', list2 item =', list2)

list1 item = 23 , list2 item = Karachi
list1 item = 34 , list2 item = 55
list1 item = Lahore , list2 item = 83
list1 item = 22 , list2 item = 82
list1 item = 33 , list2 item = 88
list1 item = Akbar , list2 item = Multan

list1 item = 23 , list2 item = Karachi
list1 item = 34 , list2 item = 55
list1 item = Lahore , list2 item = 83
list1 item = 22 , list2 item = 82
list1 item = 33 , list2 item = 88
list1 item = Akbar , list2 item = Multan

In [141]:
alpha = list((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = list(('Karachi', 55, '83', '82', 88, 'Multan'))
for index, (list1, list2) in enumerate(zip(alpha, beta)):
    print('index =', index, 'list1 item =', list1, ', list2 item =', list2)
print()

alpha = list((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = list(('Karachi', 55, '83', '82', 88, 'Multan'))
for index, (list1, list2) in enumerate(zip(enumerate(alpha), enumerate(beta, start=1))):
    print('index =', index, 'list1 item =', list1, ', list2 item =', list2)

index = 0 list1 item = 23 , list2 item = Karachi
index = 1 list1 item = 34 , list2 item = 55
index = 2 list1 item = Lahore , list2 item = 83
index = 3 list1 item = 22 , list2 item = 82
index = 4 list1 item = 33 , list2 item = 88
index = 5 list1 item = Akbar , list2 item = Multan

index = 0 list1 item = (0, 23) , list2 item = (1, 'Karachi')
index = 1 list1 item = (1, '34') , list2 item = (2, 55)
index = 2 list1 item = (2, 'Lahore') , list2 item = (3, '83')
index = 3 list1 item = (3, 22) , list2 item = (4, '82')
index = 4 list1 item = (4, 33) , list2 item = (5, 88)
index = 5 list1 item = (5, 'Akbar') , list2 item = (6, 'Multan')

**Tuple Functions**

In [132]:
alpha = tuple(range(1, 11))
print(alpha)
alpha = tuple(range(1, 11, 2))
print(alpha)
alpha = tuple(range(10, 0, -1))
print(alpha, end='\n\n')

alpha = tuple((23, '34', 'Lahore', 22, 33, 'Akbar'))
for i in alpha:
    print(i)
print()

for index, value in enumerate(alpha):
    print('index =', index, 'value =', value)
print()

for index, value in enumerate(alpha, start = 1):
    print('index =', index, 'value =', value)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

23
34
Lahore
22
33
Akbar

index = 0 value = 23
index = 1 value = 34
index = 2 value = Lahore
index = 3 value = 22
index = 4 value = 33
index = 5 value = Akbar

index = 1 value = 23
index = 2 value = 34
index = 3 value = Lahore
index = 4 value = 22
index = 5 value = 33
index = 6 value = Akbar

In [134]:
alpha = tuple((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = tuple(('Karachi', 55, '83', '82', 88, 'Multan'))
for tuple1, tuple2 in zip(alpha, beta):
    print('tuple1 item =', tuple1, ', tuple2 item =', tuple2)
print()

alpha = tuple((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = tuple(('Karachi', 55, '83', '82', 88, 'Multan', 33, 25, 75, 12))
for tuple1, tuple2 in zip(alpha, beta):
    print('tuple1 item =', tuple1, ', tuple2 item =', tuple2)

tuple1 item = 23 , tuple2 item = Karachi
tuple1 item = 34 , tuple2 item = 55
tuple1 item = Lahore , tuple2 item = 83
tuple1 item = 22 , tuple2 item = 82
tuple1 item = 33 , tuple2 item = 88
tuple1 item = Akbar , tuple2 item = Multan

tuple1 item = 23 , tuple2 item = Karachi
tuple1 item = 34 , tuple2 item = 55
tuple1 item = Lahore , tuple2 item = 83
tuple1 item = 22 , tuple2 item = 82
tuple1 item = 33 , tuple2 item = 88
tuple1 item = Akbar , tuple2 item = Multan

In [140]:
alpha = tuple((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = tuple(('Karachi', 55, '83', '82', 88, 'Multan'))
for index, (tuple1, tuple2) in enumerate(zip(alpha, beta)):
    print('index =', index, 'tuple1 item =', tuple1, ', tuple2 item =', tuple2)
print()

alpha = tuple((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = tuple(('Karachi', 55, '83', '82', 88, 'Multan'))
for index, (tuple1, tuple2) in enumerate(zip(enumerate(alpha), enumerate(beta, start=1))):
    print('index =', index, 'tuple1 item =', tuple1, ', tuple2 item =', tuple2)

index = 0 tuple1 item = 23 , tuple2 item = Karachi
index = 1 tuple1 item = 34 , tuple2 item = 55
index = 2 tuple1 item = Lahore , tuple2 item = 83
index = 3 tuple1 item = 22 , tuple2 item = 82
index = 4 tuple1 item = 33 , tuple2 item = 88
index = 5 tuple1 item = Akbar , tuple2 item = Multan

index = 0 tuple1 item = (0, 23) , tuple2 item = (1, 'Karachi')
index = 1 tuple1 item = (1, '34') , tuple2 item = (2, 55)
index = 2 tuple1 item = (2, 'Lahore') , tuple2 item = (3, '83')
index = 3 tuple1 item = (3, 22) , tuple2 item = (4, '82')
index = 4 tuple1 item = (4, 33) , tuple2 item = (5, 88)
index = 5 tuple1 item = (5, 'Akbar') , tuple2 item = (6, 'Multan')

**Set Functions**

In [136]:
alpha = set(range(1, 11))
print(alpha)
alpha = set(range(1, 11, 2))
print(alpha)
alpha = set(range(10, 0, -1))
print(alpha, end='\n\n')

alpha = set((23, '34', 'Lahore', 22, 33, 'Akbar'))
for i in alpha:
    print(i)
print()

for index, value in enumerate(alpha):
    print('index =', index, 'value =', value)
print()

for index, value in enumerate(alpha, start = 1):
    print('index =', index, 'value =', value)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 3, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

33
Akbar
Lahore
22
23
34

index = 0 value = 33
index = 1 value = Akbar
index = 2 value = Lahore
index = 3 value = 22
index = 4 value = 23
index = 5 value = 34

index = 1 value = 33
index = 2 value = Akbar
index = 3 value = Lahore
index = 4 value = 22
index = 5 value = 23
index = 6 value = 34

In [137]:
alpha = set((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = set(('Karachi', 55, '83', '82', 88, 'Multan'))
for set1, set2 in zip(alpha, beta):
    print('set1 item =', set1, ', set2 item =', set2)
print()

alpha = set((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = set(('Karachi', 55, '83', '82', 88, 'Multan', 33, 25, 75, 12))
for set1, set2 in zip(alpha, beta):
    print('set1 item =', set1, ', set2 item =', set2)

set1 item = 33 , set2 item = Multan
set1 item = Akbar , set2 item = Karachi
set1 item = Lahore , set2 item = 83
set1 item = 22 , set2 item = 82
set1 item = 23 , set2 item = 55
set1 item = 34 , set2 item = 88

set1 item = 33 , set2 item = 33
set1 item = Akbar , set2 item = Multan
set1 item = Lahore , set2 item = Karachi
set1 item = 22 , set2 item = 83
set1 item = 23 , set2 item = 82
set1 item = 34 , set2 item = 75

In [139]:
alpha = set((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = set(('Karachi', 55, '83', '82', 88, 'Multan'))
for index, (set1, set2) in enumerate(zip(alpha, beta)):
    print('index =', index, 'set1 item =', set1, ', set2 item =', set2)
print()

alpha = set((23, '34', 'Lahore', 22, 33, 'Akbar'))
beta = set(('Karachi', 55, '83', '82', 88, 'Multan'))
for index, (set1, set2) in enumerate(zip(enumerate(alpha), enumerate(beta, start=1))):
    print('index =', index, 'set1 item =', set1, ', set2 item =', set2)

index = 0 set1 item = 33 , set2 item = Multan
index = 1 set1 item = Akbar , set2 item = Karachi
index = 2 set1 item = Lahore , set2 item = 83
index = 3 set1 item = 22 , set2 item = 82
index = 4 set1 item = 23 , set2 item = 55
index = 5 set1 item = 34 , set2 item = 88

index = 0 set1 item = (0, 33) , set2 item = (1, 'Multan')
index = 1 set1 item = (1, 'Akbar') , set2 item = (2, 'Karachi')
index = 2 set1 item = (2, 'Lahore') , set2 item = (3, '83')
index = 3 set1 item = (3, 22) , set2 item = (4, '82')
index = 4 set1 item = (4, 23) , set2 item = (5, 55)
index = 5 set1 item = (5, '34') , set2 item = (6, 88)

**List Built-in Functions**

In [ ]:
"""
    len, append, extend, insert, remove, pop, 
    index, count, sort, reverse, copy, clear, 
    sorted, all, any, max, min, sum, slice, 
    enumerate, zip, filter, map, x for x in range, 
    abs, round, isinstance, ord, pow, divmod, bin, hex, oct, help
"""

In [187]:
alpha = [4, 8, 2, 1, 0, 2]

print(len(alpha))
alpha.append(5)
print(alpha)
alpha.extend([-3, -2, -5])
print(alpha)
alpha.insert(0, 7)
print(alpha)
alpha.remove(2)
print(alpha)
alpha.pop(4)
print(alpha)
print(alpha.index(2))
print(alpha.count(8))
alpha.sort()
print(alpha)
alpha.reverse()
print(alpha)
beta = alpha.copy()
print(beta)
beta.clear()
print(beta)
beta = sorted(alpha) ## Temporary
print(beta)
alpha = -45.9925243
print(abs(alpha))
alpha = 45.9925243
print(round(alpha, 2))
print(isinstance(alpha, int))
print(ord('A'))
print(pow(alpha, 2))
quotient, remainder = divmod(alpha, 2)
print(quotient, remainder)
print(bin(55))
print(hex(55))
print(oct(55))
alpha = [4, 8, 2, 1, 0, 2]
print(all(alpha))
print(any(alpha))
print(max(alpha))
print(min(alpha))
print(sum(alpha))
print(alpha[1:4])
print(alpha[1:4:2])

6
[4, 8, 2, 1, 0, 2, 5]
[4, 8, 2, 1, 0, 2, 5, -3, -2, -5]
[7, 4, 8, 2, 1, 0, 2, 5, -3, -2, -5]
[7, 4, 8, 1, 0, 2, 5, -3, -2, -5]
[7, 4, 8, 1, 2, 5, -3, -2, -5]
4
1
[-5, -3, -2, 1, 2, 4, 5, 7, 8]
[8, 7, 5, 4, 2, 1, -2, -3, -5]
[8, 7, 5, 4, 2, 1, -2, -3, -5]
[]
[-5, -3, -2, 1, 2, 4, 5, 7, 8]
45.9925243
45.99
False
65
2115.3122914860905
22.0 1.9925242999999995
0b110111
0x37
0o67
False
True
8
0
17
[8, 2, 1]
[8, 1]

In [190]:
for i in enumerate(alpha):
    print(i)
print()
def checkEven (x):
    if x % 2 == 0:
        return x
beta = list(filter(checkEven, alpha))
print(beta)

def sqrt (x):
    return x ** 2

beta = list(map(sqrt, beta))
print(beta)

ceta = [x for x in range(1, 11)]
print(ceta)

delta = [x for x in range(1, 11) if x % 2 == 0]
print(delta)

(0, 4)
(1, 8)
(2, 2)
(3, 1)
(4, 0)
(5, 2)

[4, 8, 2, 2]
[16, 64, 4, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

**Strings**

In [ ]:
"""
Strings neither be updated nor deleted a particular instance
it can only be deleted entirely and also accessed as an array
"""

In [194]:
alpha = 'Hello World'
print(alpha[3])
print(alpha[2:6:2])

l
lo

In [195]:
alpha[0] = 'A'

TypeError: 'str' object does not support item assignment

In [196]:
del alpha[3]

TypeError: 'str' object doesn't support item deletion

In [197]:
del alpha
print(alpha)

NameError: name 'alpha' is not defined

**Operations on strings**

In [ ]:
"""
    Concatenation(+), Indexing[3], Slicing[::3], Length, Membership, 
    Repetition, Comparison, Formatting, Splitting, Stripping,
    Case Conversion, Replacing, Joining, Find Substring, 
    Checking prefixes and suffixes, Checking for alphanumeric,
    Checking for digits, Checking for alphabatic characters, 
    Checking for whitespace characters, Partitioning, Checking Case,
     
"""

In [231]:
alpha = 'Hello World' ## Membership
'lo' in alpha
print(alpha*3) ## Repetition
beta = 'Hello Worls'
print(alpha == beta)  ## Comparison
print('First string is {} and second string is {}'.format(alpha,beta)) ## Formatting
print(alpha.split(' ')) ## Splitting
alpha = '     Hello_World     '
print(alpha.strip()) ## Stripping
alpha = 'Hello_World'
print(alpha.lower()) ## Case Conversion
print(alpha.upper()) ## Case Conversion
print(alpha.capitalize()) ## Case Conversion
print(alpha.title()) ## Case Conversion
print(alpha.replace('World', 'Pakistan')) ## Replacing
alpha = ['Hello', 'World', 'Pakistan']
print('--'.join(alpha)) ## Joining
alpha = 'Hello World Pakistan'
print(alpha.find('Pakistan')) ## Find Substring
print(alpha.index('k')) ## Find Index
print(alpha.startswith('Hello')) ## Checking prefixes
print(alpha.endswith('Pakistan')) ## Checking Sufixes
print(alpha.isalnum()) ## Checking for Alpha numeric
print(alpha.isalpha()) ## Checking for Alphabatic
print(alpha.isdigit()) ## Checking for digits
alpha = ' '
beta = 'Hello'
print(alpha.isspace(), beta.isspace()) ## Checking for whitespace
alpha = 'apple,banana,mango,banana,juice,fruit'
print(alpha.replace('banana', 'orange', 2)) ## Replacing withCount
print(alpha.count('banana')) ## Count

Hello WorldHello WorldHello World
False
First string is Hello World and second string is Hello Worls
['Hello', 'World']
Hello_World
hello_world
HELLO_WORLD
Hello_world
Hello_World
Hello_Pakistan
Hello--World--Pakistan
12
14
True
True
False
False
False
True False
apple,orange,mango,orange,juice,fruit
2

**Operatins on Lists, Tuples, Sets, and Dictionaries**

In [235]:
""""
1. **Lists**: (Use lists when you need an ordered collection of items that may need to be modified)
   - Lists are ordered collections of items.
   - They are mutable, meaning you can change, add, and remove elements after the list has been created.
   - Lists are defined using square brackets `[]`.
   - Lists can hold elements of any data type (e.g., integers, strings, other lists, etc.).
   - Common operations on lists include appending, removing, slicing, and iterating.
   
2. **Tuples**: (Use tuples when you have a collection of items that should remain constant throughout the program's execution)
   - Tuples are similar to lists but are immutable, meaning once they are created, their elements cannot be changed.
   - They are defined using parentheses `()`.
   - Tuples can hold elements of any data type.
   - Common operations on tuples include accessing elements via indexing and slicing.

3. **Sets**: (Use sets when you need to store unique elements and perform set operations like union, intersection, or difference)
   - Sets are unordered collections of unique elements.
   - They are defined using curly braces `{}` or the `set()` function.
   - Sets are mutable; you can add or remove elements, but you cannot change the elements themselves.
   - Sets can only hold immutable elements (e.g., integers, strings, tuples) since they use hash-based storage to ensure uniqueness.
   - Common operations on sets include adding elements, removing elements, set operations like union, intersection, difference, etc.

4. **Dictionaries**: (Use dictionaries when you need to associate keys with values and quickly retrieve values based on keys)
   - Dictionaries are collections of key-value pairs.
   - They are unordered (in Python versions prior to 3.7, dictionaries have no inherent order; in Python 3.7 and above, dictionaries maintain insertion order).
   - Dictionaries are defined using curly braces `{}` with key-value pairs separated by a colon `:`.
   - Keys within a dictionary must be unique and immutable (e.g., strings, numbers, tuples).
   - Values within a dictionary can be of any data type.
   - Common operations on dictionaries include adding/removing key-value pairs, accessing values via keys, iterating over keys or values, etc.

Operations you cannot perform directly between these data structures:

- You cannot perform indexing and slicing operations on sets and dictionaries because they are unordered collections.
- You cannot perform certain set operations (e.g., union, intersection) directly on lists and dictionaries, as these operations are specific to sets.
- You cannot use sets or dictionaries as keys in other dictionaries because keys must be immutable, and sets/dictionaries are mutable.

"""

'"\n1. **Lists**: (Use lists when you need an ordered collection of items that may need to be modified)\n   - Lists are ordered collections of items.\n   - They are mutable, meaning you can change, add, and remove elements after the list has been created.\n   - Lists are defined using square brackets `[]`.\n   - Lists can hold elements of any data type (e.g., integers, strings, other lists, etc.).\n   - Common operations on lists include appending, removing, slicing, and iterating.\n   \n2. **Tuples**: (Use tuples when you have a collection of items that should remain constant throughout the program\'s execution)\n   - Tuples are similar to lists but are immutable, meaning once they are created, their elements cannot be changed.\n   - They are defined using parentheses `()`.\n   - Tuples can hold elements of any data type.\n   - Common operations on tuples include accessing elements via indexing and slicing.\n\n3. **Sets**: (Use sets when you need to store unique elements and perform set operations like union, intersection, or difference)\n   - Sets are unordered collections of unique elements.\n   - They are defined using curly braces `{}` or the `set()` function.\n   - Sets are mutable; you can add or remove elements, but you cannot change the elements themselves.\n   - Sets can only hold immutable elements (e.g., integers, strings, tuples) since they use hash-based storage to ensure uniqueness.\n   - Common operations on sets include adding elements, removing elements, set operations like union, intersection, difference, etc.\n\n4. **Dictionaries**: (Use dictionaries when you need to associate keys with values and quickly retrieve values based on keys)\n   - Dictionaries are collections of key-value pairs.\n   - They are unordered (in Python versions prior to 3.7, dictionaries have no inherent order; in Python 3.7 and above, dictionaries maintain insertion order).\n   - Dictionaries are defined using curly braces `{}` with key-value pairs separated by a colon `:`.\n   - Keys within a dictionary must be unique and immutable (e.g., strings, numbers, tuples).\n   - Values within a dictionary can be of any data type.\n   - Common operations on dictionaries include adding/removing key-value pairs, accessing values via keys, iterating over keys or values, etc.\n\nOperations you cannot perform directly between these data structures:\n\n- You cannot perform indexing and slicing operations on sets and dictionaries because they are unordered collections.\n- You cannot perform certain set operations (e.g., union, intersection) directly on lists and dictionaries, as these operations are specific to sets.\n- You cannot use sets or dictionaries as keys in other dictionaries because keys must be immutable, and sets/dictionaries are mutable.\n\n'

**Functions**

In [239]:
def isEven (x):
    
    """
        This function tells that the given number is even or odd 
        input => Any valid integer
        output => Odd or Even
        created by => Muhammad Akbar
        created date => 20 June, 2015
        last modified by => Muhammad Akbar
        last modified_date => 22 June, 2015
    """
    
    if x % 2 == 0:
        return 'Even'
    else:
        return 'Odd'
    
print(isEven(10))
print(isEven.__doc__)

Even

        This function tells that the given number is even or odd
        input => Any valid integer
        output => Odd or Even
        created by => Muhammad Akbar
        created date => 20 June, 2015
        last modified by => Muhammad Akbar
        last modified_date => 22 June, 2015

In [244]:
def flexi (*number): 
    # (*number), the asterisk (*) before number indicates that 
    # the function can accept any number of arguments, and those arguments
    # will be packed into a tuple named number
    product = 1
    print(number)
    for i in number:
        product = product * i
    print(product)
    
flexi(1,2,3,4,5)

(1, 2, 3, 4, 5)
120

In [251]:
def findFactorial (x):
    if x == 1:
        return x
    else:
        return x * findFactorial(x-1)

findFactorial(5)

120

**Lambda Function**

In [243]:
alpha = [x for x in range(1, 10) if x % 2 == 0]
beta = [x for x in range(1, 10) if x % 2 != 0]
ceta = [x for x in range(1, 10) if x % 3 == 0]
delta = [x for x in range(1, 10) if x % 3 != 0]
print(alpha)
print(beta)
print(ceta)
print(delta)
print(list(map(lambda x: x**2, alpha)))
print(list(map(lambda w, x, y, z: w % 2 == 0 and x % 2 != 0 and y % 3 == 0 and z % 3 != 0, alpha, beta, ceta, delta)))

[2, 4, 6, 8]
[1, 3, 5, 7, 9]
[3, 6, 9]
[1, 2, 4, 5, 7, 8]
[4, 16, 36, 64]
[True, True, True]

**Class**

In [298]:
class Employee:
    
    noOfEmployees = 0
    incrementRatio = 1.02
    
    def __init__(self, fname, lname, gender, email, salary, department):
        self.fname = fname
        self.lname = lname
        self.gender = gender
        self.email = email
        self.salary = salary
        self.department = department
        
        Employee.noOfEmployees += 1
    
    def full_name(self):
        return '{} {}'.format(self.fname, self.lname)
    
    def apply_increment (self):
        self.salary = self.incrementRatio * float(self.salary)
        return self.salary
    
    @classmethod
    def set_increment_per_year (cls, value):
        cls.incrementRatio = value
    
    @classmethod
    def split_employee_data (cls, string):
        fname, lname, gender, email, salary, department = string.split('-')
        return cls(fname, lname, gender, email, salary, department)
    
    @staticmethod
    def check_email (email):
        if '@' in email and not '@@' in email:
            print('Email is valid')
        else:
            print('Invalid Email')

"""
    1. -- Use def for regular instance methods that need access to instance attributes.
    2. -- Use @classmethod when you want to define methods that operate on the class itself.
    3. -- Use @staticmethod when you want to define methods that don't need access to instance or class attributes."
    4. -- These methods are called special methods / dunder methods there are alot of different dunder methods which
          we can use base on our need such as 
          __init__, __str__, __repr__, __len__, __len__,
          __getitem__, __setitem__, __getattr__, __setattr__, etc...
"""

'\n    1. -- Use def for regular instance methods that need access to instance attributes.\n    2. -- Use @classmethod when you want to define methods that operate on the class itself.\n    3. -- Use @staticmethod when you want to define methods that don\'t need access to instance or class attributes."\n'

In [308]:
emp1 = Employee('John', 'Wick', 'M', 'john@wick.com', 90000, 'MIT')
print(emp1.full_name())
print(emp1.salary)
print(emp1.department)
print(emp1.apply_increment()) # Just updated the instance employee
emp2 = Employee.split_employee_data(('John-Wick-M-john.wick@gmail.com-90000-MIA'))
print(emp2.email)
print(emp2.check_email(emp2.email))
print(Employee.check_email(emp2.email))
print(emp2.apply_increment())
Employee.set_increment_per_year(1.5)
print(emp2.apply_increment())
alpha = 'alpha@@gmail.com'
Employee.check_email(alpha)
emp1.check_email(alpha)
print(emp1.noOfEmployees)
print(Employee.noOfEmployees)

John Wick
90000
MIT
135000.0
john.wick@gmail.com
Email is valid
None
Email is valid
None
135000.0
202500.0
Invalid Email
Invalid Email
16
16

**Inheritance**

In [326]:
class Employee:
    
    raise_amount = 1.02
    
    def __init__(self, fname, lname, email, salary):
        self.fname = fname
        self.lname = lname
        self.email = email
        self.salary = salary
    
    def __str__(self):
        return f"('{self.fname}', '{self.lname}', '{self.email}', {self.salary})"

    
    def full_name (self):
        return self.fname + ' ' + self.lname
    
    def apply_increment (self):
        self.salary = self.raise_amount * self.salary
    
class Developer (Employee):
    
    raise_amount = 1.04
    
    def __init__(self, fname, lname, email, salary, prog_lang):
        super().__init__(fname, lname, email, salary)
        self.prog_lang = prog_lang
    
class Manager (Employee):
    
    raise_amount = 1.06
    
    def __init__(self, fname, lname, email, salary, employees = None):
        super().__init__(fname, lname, email, salary)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees

    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)

    def remove_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)

    def print_emps(self):
        for emp in self.employees:
            print('-->', super().full_name())

emp1 = Employee('Employee1', 'Wick1', 'Employee1@wick1.com', 90000)
emp2 = Employee('Employee2', 'Wick2', 'Employee2@wick2.com', 90000)

dev1 = Developer('Developer1', 'Wick1', 'Developer1@wick1.com', 90000, 'JavaScript')
dev2 = Developer('Developer2', 'Wick2', 'Developer2@wick2.com', 90000, 'Python')

mngr1 = Manager('Manager1', 'Wick1', 'manager1@wick1.com', 50000, [emp1])
mngr2 = Manager('Manager2', 'Wick2', 'manager2@wick2.com', 60000, [emp2])

print(emp1)
print(emp2)
print(dev1)
print(dev2)
print(mngr1)
print(mngr2)

mngr1.add_emp(emp2)
mngr1.add_emp(emp1)

mngr1.print_emps()

mngr1.remove_emp(emp1)
print('removed emp1')

mngr1.print_emps()

('Employee1', 'Wick1', 'Employee1@wick1.com', 90000)
('Employee2', 'Wick2', 'Employee2@wick2.com', 90000)
('Developer1', 'Wick1', 'Developer1@wick1.com', 90000)
('Developer2', 'Wick2', 'Developer2@wick2.com', 90000)
('Manager1', 'Wick1', 'manager1@wick1.com', 50000)
('Manager2', 'Wick2', 'manager2@wick2.com', 60000)
--> Manager1 Wick1
--> Manager1 Wick1
removed emp1
--> Manager1 Wick1

**File Systems & Exception Handling**

In [330]:
with open('test.txt', 'r') as f:

    for line in f:
        print(line, end='')

1 => Hello
2 => This
3 => is
4 => a
5 => Complete
6 => Machine
7 => Learning
8 => Course
9 => from
10 => Scratch

In [334]:
try:
    f = open('test.txt', 'r')
    var = var2

except FileNotFoundError: # When will fon found
    print('Sorry, This file does not exist')

except Exception: # When other error occurs
    print('Sorry, Something went wrong!')

else:
    print(f.read())
    f.close()

finally:
    print('Everything is done')

Sorry, Something went wrong!
Everything is done

In [338]:
try:
    f = open('testc.txt', 'r')
    if f.name != 'test.txt':
        raise Exception('This is an error')

except FileNotFoundError as e:
    print(e)

except Exception as e:
    print(e)

else:
    print(f.read())
    f.close()

finally:
    print('Everything is done')

[Errno 2] No such file or directory: 'testc.txt'
Everything is done

**Modules Import**

In [341]:
import test
a = 10; b = 5
print(test.add(a, b))
print(test.div(a, b))
print(test.mult(a, b))
print(test.sub(a, b))

15
2.0
50
5

**Data Structures**

In [302]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        self.head = None

    def append(self, data):
        new_node = Node(data)
        if self.head is None:
            self.head = new_node
        else:
            current = self.head
            while current.next:
                current = current.next
            current.next = new_node

    def display(self):
        current = self.head
        while current:
            print(current.data, end=" ")
            current = current.next
        print()

# Example usage:
linked_list = LinkedList()
linked_list.append(1)
linked_list.append(2)
linked_list.append(3)
linked_list.display()

1 2 3

1 2 3