In [ ]:
for (int i = 1; i < n; i++) {
    code    
}

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(1,11, 2))

[1, 3, 5, 7, 9]

In [12]:
list(range(9,-1, -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [3]:
set(range(1,11))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
set(range(1,11, 2))

{1, 3, 5, 7, 9}

In [4]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [14]:
tuple(range(1,11, 2))

(1, 3, 5, 7, 9)

In [19]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
for i in range(9, -1, -1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [21]:
#sequences
#strings

'Lahore'

'Lahore'

In [22]:
['Lahore', 'Karachi','Multan', 'Faisalabad']

['Lahore', 'Karachi', 'Multan', 'Faisalabad']

In [23]:
('Lahore', 'Karachi','Multan', 'Faisalabad')

('Lahore', 'Karachi', 'Multan', 'Faisalabad')

In [24]:
{'Lahore', 'Karachi','Multan', 'Faisalabad'}

{'Faisalabad', 'Karachi', 'Lahore', 'Multan'}

In [25]:
city = 'Lahore'
for i in city:
    print(i)

L
a
h
o
r
e

In [26]:
list = ['Lahore', 'Karachi','Multan', 'Faisalabad']
for i in list:
    print(i)

Lahore
Karachi
Multan
Faisalabad

In [27]:
set = {'Lahore', 'Karachi','Multan', 'Faisalabad'}
for i in list:
    print(i)

Lahore
Karachi
Multan
Faisalabad

In [28]:
tuple = ('Lahore', 'Karachi','Multan', 'Faisalabad')
for i in list:
    print(i)

Lahore
Karachi
Multan
Faisalabad