What is a list
List vs Array
    Arrays are homogeneous, Lists are hetrogeneous
    Arrays contains consecutive memory locations, Lists does not contain consecutive memory locations
    Arrays are much faster than lists, lists are less faster than arrays
    Arrays are less programmer friendly, Lists are more programmer friendly
Creates
Access
Edit
Add
    append
    extend
    insert
Delete
    del
    remove
    pop
    clear
Operations
Functions

In [142]:
list = []
print(list)

[]

In [4]:
list = list((1,2,3,4,5,6,7,8))
type(list)

list

In [143]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [144]:
list = [1,2,3,4,'Hello', 'World', 9.5]
print(list)

[1, 2, 3, 4, 'Hello', 'World', 9.5]

In [145]:
list2D = [1,2,3,4,5,[6,7,8,9]]
print(list2D)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [146]:
list2D = [1,2,3,4,5, 'Hello', [6,7,8,9, 'World']]
print(list2D)

[1, 2, 3, 4, 5, 'Hello', [6, 7, 8, 9, 'World']]

In [147]:
list3D = [1,2,3,4,5, 'Hello', [6,7,8,9, 'World', [10,11,12,'Python']]]
print(list3D)

[1, 2, 3, 4, 5, 'Hello', [6, 7, 8, 9, 'World', [10, 11, 12, 'Python']]]

In [148]:
list3D[::-1]

[[6, 7, 8, 9, 'World', [10, 11, 12, 'Python']], 'Hello', 5, 4, 3, 2, 1]

In [150]:
list3D[5]

'Hello'

In [151]:
list3D[6][4]

'World'

In [152]:
list3D[6][5][3]

'Python'

In [153]:
list3D[6][5][3] = 'Python is a good programming language'

In [154]:
list3D[::]

[1,
 2,
 3,
 4,
 5,
 'Hello',
 [6, 7, 8, 9, 'World', [10, 11, 12, 'Python is a good programming language']]]

In [155]:
list3D[6][5][3]

'Python is a good programming language'

In [156]:
len(list3D[6][5][3])

37

In [157]:
list3D[5] = 'Python'

In [158]:
list3D

[1,
 2,
 3,
 4,
 5,
 'Python',
 [6, 7, 8, 9, 'World', [10, 11, 12, 'Python is a good programming language']]]

In [159]:
list3D.append('Lahore')
list3D

[1,
 2,
 3,
 4,
 5,
 'Python',
 [6, 7, 8, 9, 'World', [10, 11, 12, 'Python is a good programming language']],
 'Lahore']

In [160]:
list3D.append(['Karachi', 'Multan', 'Faisalabad'])
list3D

[1,
 2,
 3,
 4,
 5,
 'Python',
 [6, 7, 8, 9, 'World', [10, 11, 12, 'Python is a good programming language']],
 'Lahore',
 ['Karachi', 'Multan', 'Faisalabad']]

In [59]:
list3D.extend('Python tutorials')
list3D

[1,
 2,
 3,
 4,
 5,
 'Python',
 [6, 7, 8, 9, 'World', [10, 11, 12, 'Python is a good programming language']],
 'Lahore',
 'Lahore',
 ['Karachi', 'Multan', 'Faisalabad'],
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 't',
 'u',
 't',
 'o',
 'r',
 'i',
 'a',
 'l',
 's']

In [60]:
list3D.extend([1,2,3,4,5])
list3D

[1,
 2,
 3,
 4,
 5,
 'Python',
 [6, 7, 8, 9, 'World', [10, 11, 12, 'Python is a good programming language']],
 'Lahore',
 'Lahore',
 ['Karachi', 'Multan', 'Faisalabad'],
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 't',
 'u',
 't',
 'o',
 'r',
 'i',
 'a',
 'l',
 's',
 1,
 2,
 3,
 4,
 5]

In [62]:
# list3D.insert(1, 'test')
list3D

[1,
 'test',
 2,
 3,
 4,
 5,
 'Python',
 [6, 7, 8, 9, 'World', [10, 11, 12, 'Python is a good programming language']],
 'Lahore',
 'Lahore',
 ['Karachi', 'Multan', 'Faisalabad'],
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 't',
 'u',
 't',
 'o',
 'r',
 'i',
 'a',
 'l',
 's',
 1,
 2,
 3,
 4,
 5]

In [64]:
del list3D[1]
list3D

[1,
 2,
 3,
 4,
 5,
 'Python',
 [6, 7, 8, 9, 'World', [10, 11, 12, 'Python is a good programming language']],
 'Lahore',
 'Lahore',
 ['Karachi', 'Multan', 'Faisalabad'],
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 't',
 'u',
 't',
 'o',
 'r',
 'i',
 'a',
 'l',
 's',
 1,
 2,
 3,
 4,
 5]

In [65]:
del list3D[6]
list3D

[1,
 2,
 3,
 4,
 5,
 'Python',
 'Lahore',
 'Lahore',
 ['Karachi', 'Multan', 'Faisalabad'],
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 't',
 'u',
 't',
 'o',
 'r',
 'i',
 'a',
 'l',
 's',
 1,
 2,
 3,
 4,
 5]

In [66]:
del list3D[6:20]
list3D

[1, 2, 3, 4, 5, 'Python', 'r', 'i', 'a', 'l', 's', 1, 2, 3, 4, 5]

In [67]:
list3D.pop()
list3D

[1, 2, 3, 4, 5, 'Python', 'r', 'i', 'a', 'l', 's', 1, 2, 3, 4]

In [68]:
list3D.pop()
list3D

[1, 2, 3, 4, 5, 'Python', 'r', 'i', 'a', 'l', 's', 1, 2, 3]

In [69]:
list3D.pop()
list3D

[1, 2, 3, 4, 5, 'Python', 'r', 'i', 'a', 'l', 's', 1, 2]

In [70]:
list3D.remove('python')
list3D

ValueError: list.remove(x): x not in list

In [71]:
list3D.remove('Python')
list3D

[1, 2, 3, 4, 5, 'r', 'i', 'a', 'l', 's', 1, 2]

In [72]:
list3D.clear()
list3D

[]

In [73]:
del list3D
list3D

NameError: name 'list3D' is not defined

In [5]:
list1 = [1,2,3]
list2 = [4,5,6]

list1 + list2

[1, 2, 3, 4, 5, 6]

In [75]:
list1

[1, 2, 3]

In [76]:
list2

[4, 5, 6]

In [77]:
list1 * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [78]:
list1

[1, 2, 3]

In [79]:
list1.append([4,5,6])
list1

[1, 2, 3, [4, 5, 6]]

In [80]:
for i in list1:
    print(i)

1
2
3
[4, 5, 6]

In [6]:
for index, value in enumerate(list1):
    print(index, value)

0 1
1 2
2 3

In [81]:
type(list1)

list

In [93]:
for i in list1:
    print(i)

1
2
3
[4, 5, 6]

In [94]:
4 in list1

False

In [95]:
3 in list1

True

In [102]:
list = [3,4,1,5,2]

In [99]:
len(list)

5

In [100]:
max(list)

5

In [101]:
min(list)

1

In [103]:
sorted(list) #temporary

[1, 2, 3, 4, 5]

In [104]:
sorted(list, reverse=True)

[5, 4, 3, 2, 1]

In [106]:
list.sort() #permanent
list

[1, 2, 3, 4, 5]

In [107]:
list.sort(reverse=True) #permanent
list

[5, 4, 3, 2, 1]

In [108]:
list.extend('Python')
list

[5, 4, 3, 2, 1, 'P', 'y', 't', 'h', 'o', 'n']

In [109]:
list.index('P')

5

In [110]:
'lahore is the heart of pakistan'.title()

'Lahore Is The Heart Of Pakistan'

In [111]:
sampleString = 'lahore is the heart of pakistan'

In [112]:
sampleString.split()

['lahore', 'is', 'the', 'heart', 'of', 'pakistan']

In [122]:
for i in sampleString.split():
    print(i)

lahore
is
the
heart
of
pakistan

In [128]:
newList = []
for i in sampleString.split():
    newList.append(i.capitalize())

In [129]:
newList

['Lahore', 'Is', 'The', 'Heart', 'Of', 'Pakistan']

In [130]:
" ".join(newList)

'Lahore Is The Heart Of Pakistan'

In [131]:
email = 'test@gmail.com'

In [136]:
print(email[:email.find('@')])

test

In [137]:
print(email[:email.index('@')])

test

In [138]:
list = [1,2,3,4,2,4,2,1,1,3,5]

In [139]:
list2 = []
for i in list:
    if i in list2:
        continue
    else:
        list2.append(i)

list2

[1, 2, 3, 4, 5]

In [140]:
list2.clear()
for i in list:
    if i not in list2:
        list2.append(i)

list2

[1, 2, 3, 4, 5]